<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crave-UI</title>
    <link rel="stylesheet" href="../../styles/main.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <a href="/index.html">
          <img src="../../assets/logo.png" alt="Crave_UI_Logo" />
        </a>
        <div class="install">
          <a href="/index.html">
            <p>Getting Started</p>
          </a>
        </div>
        <div class="components-list">
          <ul>
            <li>
              <a href="/components/alerts/alerts.html"><p>Alerts</p></a>
            </li>
            <li>
              <a href="/components/avatar/avatar.html"><p>Avatar</p></a>
            </li>
            <li>
              <a href="/components/badge/badge.html"><p>Badge</p></a>
            </li>
            <li>
              <a href="/components/button/button.html"><p>Button</p></a>
            </li>
            <li>
              <a href="/components/cards/cards.html"><p>Card</p></a>
            </li>
            <li>
              <a href="/components/list/list.html"><p>List</p></a>
            </li>
            <li>
              <a href="/components/image/image.html"><p>Image</p></a>
            </li>
            <li>
              <a href="/components/input/input.html"><p>Input</p></a>
            </li>
            <li>
              <a href="/components/typography/typography.html"
                ><p>Typography</p></a
              >
            </li>
            <li>
              <a href="/components/slider/slider.html"><p>Slider</p></a>
            </li>
            <li>
              <a href="/components/rating/rating.html"><p>Rating</p></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="main">
        <h1>TEXT WITH FONT SIZE</h1>
        <div class="description">
          <p>Text with different font sizes</p>
        </div>
        <div class="code">
          <iframe
            src="https://www.thiscodeworks.com/embed/62125eb45362a500156c2be7"
            style="width: 100%; height: 164px"
            frameborder="0"
          ></iframe>
        </div>
        <div class="display-components box">
          <div class="typography">
            <p class="font-size--xxlg">Typography</p>
            <p class="font-size--xlg">Typography</p>
            <p class="font-size--lg">Typography</p>
            <p class="font-size--md">Typography</p>
            <p class="font-size--sm">Typography</p>
            <p class="font-size--xsm">Typography</p>
          </div>
        </div>
        <h1>TEXT WITH DIFFERENT FONT WEIGHT</h1>
        <div class="description">
          <p>Text with different font weight</p>
        </div>
        <div class="code">
          <iframe
            src="https://www.thiscodeworks.com/embed/62125ef15362a500156c2be8"
            style="width: 100%; height: 164px"
            frameborder="0"
          ></iframe>
        </div>
        <div class="display-components box">
          <div class="typography">
            <p class="font-size--xxlg font-weight--800">Typography</p>
            <p class="font-size--xlg font-weight--700">Typography</p>
            <p class="font-size--lg font-weight--600">Typography</p>
            <p class="font-size--md font-weight--500">Typography</p>
            <p class="font-size--sm font-weight--400">Typography</p>
            <p class="font-size--xsm font-weight--300">Typography</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
