<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crave-UI</title>
  <link rel="stylesheet" href="../../styles/main.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="navbar">
      <a href="/index.html">
        <img src="../../assets/logo.png" alt="Crave_UI_Logo">
      </a>
      <div class="install">
        <a href="/index.html">
          <p>Getting Started</p>
        </a>
      </div>
      <div class="components-list">
        <ul>
          <li><a href="/components/alerts/alerts.html"><p>Alerts</p></a></li>
          <li><a href="/components/avatar/avatar.html"><p>Avatar</p></a></li>
          <li><a href="/components/badge/badge.html"><p>Badge</p></a></li>
          <li><a href="/components/button/button.html"><p>Button</p></a></li>
          <li><a href="#"><p>Card</p></a></li>
          <li><a href="#"><p>Image</p></a></li>
          <li><a href="#"><p>Input</p></a></li>
          <li><a href="#"><p>Text Utilities</p></a></li>
          <li><a href="#"><p>List</p></a></li>
          <li><a href="#"><p>Navigation</p></a></li>
          <li><a href="#"><p>Modal</p></a></li>
          <li><a href="#"><p>Rating</p></a></li>
          <li><a href="#"><p>Toast</p></a></li>
          <li><a href="#"><p>Simplified Grid</p></a></li>
        </ul>
      </div>
    </div>
    <div class="main">
      <h1>AVATAR</h1>
      <div class="description">
        <p> A content area to display user information and profile image. It supports a range of image sizes.</p>
      </div>
      <div class="code">
        <iframe src="https://www.thiscodeworks.com/embed/6210a2a71cc8b9001542edd5" style="width: 100%; height: 250px;" frameborder="0"></iframe>
      </div>
      <div class="display-components box">
        <img class="round-img avatar--xsm" src="../../assets/Square_Profile.jpg" alt="avatar-image">
        <img class="round-img avatar--sm" src="../../assets/Square_Profile.jpg" alt="avatar-image">
        <img class="round-img avatar--md" src="../../assets/Square_Profile.jpg" alt="avatar-image">
        <img class="round-img avatar--lg" src="../../assets/Square_Profile.jpg" alt="avatar-image">
        <img class="round-img avatar--xlg" src="../../assets/Square_Profile.jpg" alt="avatar-image">
      </div>
    </div>
  </div>
</body>
</html>