<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crave-UI</title>
    <link rel="stylesheet" href="../../styles/main.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <a href="/index.html">
          <img src="../../assets/logo.png" alt="Crave_UI_Logo" />
        </a>
        <div class="install">
          <a href="/index.html">
            <p>Getting Started</p>
          </a>
        </div>
        <div class="components-list">
          <ul>
            <li>
              <a href="/components/alerts/alerts.html"><p>Alerts</p></a>
            </li>
            <li>
              <a href="/components/avatar/avatar.html"><p>Avatar</p></a>
            </li>
            <li>
              <a href="/components/badge/badge.html"><p>Badge</p></a>
            </li>
            <li>
              <a href="/components/button/button.html"><p>Button</p></a>
            </li>
            <li>
              <a href="/components/cards/cards.html"><p>Card</p></a>
            </li>
            <li>
              <a href="/components/list/list.html"><p>List</p></a>
            </li>
            <li>
              <a href="/components/image/image.html"><p>Image</p></a>
            </li>
            <li>
              <a href="/components/input/input.html"><p>Input</p></a>
            </li>
            <li>
              <a href="/components/typography/typography.html"
                ><p>Typography</p></a
              >
            </li>
            <li>
              <a href="/components/slider/slider.html"><p>Slider</p></a>
            </li>
            <li>
              <a href="/components/rating/rating.html"><p>Rating</p></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="main">
        <h1>SLIDER</h1>
        <div class="description">
          <p>Default slider to specify a specific point/value in a range.</p>
        </div>
        <div class="code">
          <iframe
            src="https://www.thiscodeworks.com/embed/6212946a11c4db00151a7d98"
            style="width: 100%; height: 138px"
            frameborder="0"
          ></iframe>
        </div>
        <div class="display-components box">
          <div class="slidecontainer">
            <p>Default range slider:</p>
            <input type="range" min="1" max="100" value="50" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
