<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crave-UI</title>
  <link rel="stylesheet" href="../../styles/main.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="navbar">
      <a href="/index.html">
        <img src="../../assets/logo.png" alt="Crave_UI_Logo">
      </a>
      <div class="install">
        <a href="/index.html">
          <p>Getting Started</p>
        </a>
      </div>
      <div class="components-list">
        <ul>
          <li><a href="/components/alerts/alerts.html"><p>Alerts</p></a></li>
          <li><a href="/components/avatar/avatar.html"><p>Avatar</p></a></li>
          <li><a href="/components/badge/badge.html"><p>Badge</p></a></li>
          <li><a href="/components/button/button.html"><p>Button</p></a></li>
          <li><a href="/components/cards/cards.html"><p>Card</p></a></li>
          <li><a href="/components/list/list.html"><p>List</p></a></li>
          <li><a href="/components/image/image.html"><p>Image</p></a></li>
          <li><a href="/components/input/input.html"><p>Input</p></a></li>
          <li><a href="/components/typography/typography.html"><p>Typography</p></a></li>
          <li><a href="/components/slider/slider.html"><p>Slider</p></a></li>
        </ul>
      </div>
    </div>
    <div class="main">
      <div class="display-components">
        <div class="cards">
            <h1>BASIC CARD</h1>
            <div class="description">
              <p>This is a basic card consisting of title, subtitle, text and links.</p>
            </div>
            <div class="code">
              <iframe src="https://www.thiscodeworks.com/embed/621137bf1cc8b9001542ee89" style="width: 100%; height: 250px;" frameborder="0"></iframe>        
            </div>
            <div class="card card-basic">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle">Card subtitle</h6>
                    <p class="card-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link ml-16">Another link</a>
                </div>
            </div>

            <h1 class="mt-30">HORIZONTAL CARD</h1>
            <div class="description">
              <p>This is a horizontal card consisting of header, text and links.</p>
            </div>
            <div class="code">
              <iframe src="https://www.thiscodeworks.com/embed/6211d4795362a500156c2b37" style="width: 100%; height: 190px;" frameborder="0"></iframe>            </div>
            <div class="card card-horizontal">
                <div class="card-body">
                    <h5 class="card-title card-header">Card title</h5>
                    <p class="card-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link ml-16">Another link</a>
                </div>
            </div>

            <h1 class="mt-30">VERTICAL CARD</h1>
            <div class="description">
              <p>This is a vertical card consisting of header, text and footer.</p>
            </div>
            <div class="code">
              <iframe src="https://www.thiscodeworks.com/embed/6211d57e5362a500156c2b3a" style="width: 100%; height: 177px;" frameborder="0"></iframe>            </div>
            <div class="card card-vertical">
                <div class="card-body">
                    <h5 class="card-title card-header">Card title</h5>
                    <p class="card-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                    <h5 class="card-title card-footer">Footer text</h5>
                </div>
            </div>
            <h1 class="mt-30">IMAGE CARD</h1>
            <div class="description">
              <p>This is a basic card consisting of image, title, subtitle, text and links.</p>
            </div>
            <div class="code">
              <iframe src="https://www.thiscodeworks.com/embed/6211d5cc5362a500156c2b3c" style="width: 100%; height: 216px;" frameborder="0"></iframe>            </div>
            <div class="card card-image">
              <img class="card-img" src="../../assets/jordan.jpg" alt="Card image">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle">Card subtitle</h6>
                    <p class="card-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link ml-16">Another link</a>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>