<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crave-UI</title>
  <link rel="stylesheet" href="../../styles/main.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="navbar">
      <a href="/index.html">
        <img src="../../assets/logo.png" alt="Crave_UI_Logo">
      </a>
      <div class="install">
        <a href="/index.html">
          <p>Getting Started</p>
        </a>
      </div>
      <div class="components-list">
        <ul>
          <li><a href="/components/alerts/alerts.html"><p>Alerts</p></a></li>
          <li><a href="/components/avatar/avatar.html"><p>Avatar</p></a></li>
          <li><a href="/components/badge/badge.html"><p>Badge</p></a></li>
          <li><a href="/components/button/button.html"><p>Button</p></a></li>
          <li><a href="/components/cards/cards.html"><p>Card</p></a></li>
          <li><a href="/components/list/list.html"><p>List</p></a></li>
          <li><a href="/components/image/image.html"><p>Image</p></a></li>
          <li><a href="/components/input/input.html"><p>Input</p></a></li>
          <li><a href="/components/typography/typography.html"><p>Typography</p></a></li>
          <li><a href="/components/slider/slider.html"><p>Slider</p></a></li>
        </ul>
      </div>
    </div>
    <div class="main">
      <div class="display-components">
        <div class="lists">
            <h1>List group basic</h1>
            <div class="description">
              <p>The is basic list group of an unordered list with list items.</p>
            </div>
            <div class="code">
                <iframe src="https://www.thiscodeworks.com/embed/621203cf5362a500156c2b4f" style="width: 100%; height: 246px;" frameborder="0"></iframe>
            </div>
            <ul class="list list-group">
                <li class="list-group-item">This is a list</li>
                <li class="list-group-item">NeoG 2022</li>
                <li class="list-group-item">Tanay Pratap</li>
                <li class="list-group-item">Css component library</li>
                <li class="list-group-item">Unordered list</li>
            </ul> 

            <h1 class="mt-30">Active item in list</h1>
            <div class="description">
              <p>The is basic list group of an unordered list with list items which shows the active item.</p>
            </div>
            <div class="code">
                <iframe src="https://www.thiscodeworks.com/embed/6212043f5362a500156c2b50" style="width: 100%; height: 246px;" frameborder="0"></iframe>
            </div>
            <ul class="list list-group">
                <li class="list-group-item active">This is a list</li>
                <li class="list-group-item">NeoG 2022</li>
                <li class="list-group-item">Tanay Pratap</li>
                <li class="list-group-item">Css component library</li>
                <li class="list-group-item">Unordered list</li>
            </ul> 

            <h1 class="mt-30">Disabled item in list</h1>
            <div class="description">
              <p>The is basic list group of an unordered list with list items which shows the disabled item.</p>
            </div>
            <div class="code">
                <iframe src="https://www.thiscodeworks.com/embed/621204695362a500156c2b51" style="width: 100%; height: 246px;" frameborder="0"></iframe>
            </div>
            <ul class="list list-group">
                <li class="list-group-item disabled">This is a list</li>
                <li class="list-group-item">NeoG 2022</li>
                <li class="list-group-item">Tanay Pratap</li>
                <li class="list-group-item">Css component library</li>
                <li class="list-group-item">Unordered list</li>
            </ul> 

            <h1 class="mt-30">Contextual lists</h1>
            <div class="description">
              <p>This is a list group of an unordered list with contextual background colors.</p>
            </div>
            <div class="code">
                <iframe src="https://www.thiscodeworks.com/embed/621204915362a500156c2b52" style="width: 100%; height: 246px;" frameborder="0"></iframe>
            </div>
            <ul class="list list-group">
                <li class="list-group-item list-group-item-primary list-item-dark">This is a primary list group item</li>
                <li class="list-group-item list-group-item-secondary list-item-dark">This is a secondary list group item</li>
                <li class="list-group-item list-group-item-success list-item-dark">This is a success list group item</li>
                <li class="list-group-item list-group-item-danger list-item-dark">This is a danger list group item</li>
                <li class="list-group-item list-group-item-warning list-item-dark">This is a warning list group item</li>
                <li class="list-group-item list-group-item-info list-item-dark">This is a info list group item</li>
                <li class="list-group-item list-group-item-light list-item-dark">This is a light list group item</li>
                <li class="list-group-item list-group-item-dark list-item-dark">This is a dark list group item</li>
            </ul> 
        </div>
      </div>
    </div>
  </div>
</body>
</html>