<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crave-UI</title>
  <link rel="stylesheet" href="../../styles/main.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container">
    <div class="navbar">
      <a href="/index.html">
        <img src="../../assets/logo.png" alt="Crave_UI_Logo">
      </a>
      <div class="install">
        <a href="/index.html">
          <p>Getting Started</p>
        </a>
      </div>
      <div class="components-list">
        <ul>
          <li><a href="/components/alerts/alerts.html"><p>Alerts</p></a></li>
          <li><a href="/components/avatar/avatar.html"><p>Avatar</p></a></li>
          <li><a href="/components/badge/badge.html"><p>Badge</p></a></li>
          <li><a href="#"><p>Button</p></a></li>
          <li><a href="#"><p>Card</p></a></li>
          <li><a href="#"><p>Image</p></a></li>
          <li><a href="#"><p>Input</p></a></li>
          <li><a href="#"><p>Text Utilities</p></a></li>
          <li><a href="#"><p>List</p></a></li>
          <li><a href="#"><p>Navigation</p></a></li>
          <li><a href="#"><p>Modal</p></a></li>
          <li><a href="#"><p>Rating</p></a></li>
          <li><a href="#"><p>Toast</p></a></li>
          <li><a href="#"><p>Simplified Grid</p></a></li>
        </ul>
      </div>
    </div>
    <div class="main">
      <h1>BADGE ON AVATAR</h1>
      <div class="description">
        <p>This badge could probably specify the status of the user in avatar.</p>
      </div>
      <div class="code">
        <iframe src="https://www.thiscodeworks.com/embed/6211422b5362a500156c2b0a" style="width: 100%; height: 346px;" frameborder="0"></iframe>
      </div>
      <div class="display-components box">
        <div class="avatar-badge">
          <div class="badge-container">
              <img class="round-img avatar--xsm" src="../../assets/Square_Profile.jpg" alt="avatar-image" >
              <span class="badge-avatar-img badge--xsm"></span>
            </div>
            <div class="badge-container">
              <img class="round-img avatar--sm" src="../../assets/Square_Profile.jpg" alt="avatar-image">
              <span class="badge-avatar-img badge--sm"></span>
            </div>
            <div class="badge-container">
              <img class="round-img avatar--md" src="../../assets/Square_Profile.jpg" alt="avatar-image">
              <span class="badge-avatar-img badge--md"></span>
            </div>
            <div class="badge-container">
              <img class="round-img avatar--lg" src="../../assets/Square_Profile.jpg" alt="avatar-image">
              <span class="badge-avatar-img badge--lg"></span>
            </div>
            <div class="badge-container">
              <img class="round-img avatar--xlg" src="../../assets/Square_Profile.jpg" alt="avatar-image">
              <span class="badge-avatar-img badge--xlg"></span>
          </div>
        </div>
      </div>
      <h1>BADGE ON ICON</h1>
      <div class="description">
        <p>This badge could be used to denote the number of app notifications.</p>
      </div>
      <div class="code">
        <iframe src="https://www.thiscodeworks.com/embed/62114c505362a500156c2b0f" style="width: 100%; height: 294px;" frameborder="0"></iframe>
      </div>
      <div class="display-components box">
        <div class="icon-badge">
          <div class="badge-container">
            <a href="#" class="fa fa-facebook "></a>
              <span class="badge-icon-img  icon">2</span>
          </div>
          <div class="badge-container">
            <a href="#" class="fa fa-twitter"></a>
              <span class="badge-icon-img icon">20</span>
          </div>
          <div class="badge-container">
            <a href="#" class="fa fa-linkedin"></a>
              <span class="badge-icon-img icon">83</span>
          </div>
          <div class="badge-container">
            <a href="#" class="fa fa-github"></a>
              <span class="badge-icon-img icon">3</span>
          </div> 
        </div>
      </div>
    </div>
  </div>
</body>
</html>