<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Craveomponent library</title>
  <link rel="stylesheet" href="../../styles/main.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="navbar">
      <a href="/index.html">
        <img src="../../assets/logo.png" alt="Crave_UI_Logo">
      </a>
      <div class="install">
        <a href="/index.html">
          <p>Getting Started</p>
        </a>
      </div>
      <div class="components-list">
        <ul>
          <a href="./alerts.html"><li>Alert</li></a>
          <a href="#"><li>Badge</li></a>
          <a href="#"><li>Button</li></a>
          <a href="#"><li>Card</li></a>
          <a href="#"><li>Image</li></a>
          <a href="#"><li>Input</li></a>
          <a href="#"><li>Text Utilities</li></a>
          <a href="#"><li>List</li></a>
          <a href="#"><li>Navigation</li></a>
          <a href="#"><li>Modal</li></a>
          <a href="#"><li>Rating</li></a>
          <a href="#"><li>Toast</li></a>
          <a href="#"><li>Simplified Grid</li></a>
        </ul>
      </div>
    </div>
    <div class="main">
      <h1>ALERTS</h1>
      <div class="description">
        <p> Alert is a message/notification box that notifies the user about some information or asks for permission to perform a certain kind of operation.</p>
      </div>
      <div class="code">
        <img src="../../assets/alerts-code.png" alt="Alerts_code">
      </div>
      <div class="display-components box">
        <div class="alert primary-alert">Wow! This is a Primary alert</div>
        <div class="alert success-alert">Awesome! This is a Success alert</div>
        <div class="alert danger-alert">Error! This is a Danger alert</div>
        <div class="alert warning-alert">Wait! This is a Warning alert</div>
      </div>
    </div>
  </div>
</body>
</html>