<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crave-UI</title>
  <link rel="stylesheet" href="../../styles/main.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="navbar">
      <a href="/index.html">
        <img src="../../assets/logo.png" alt="Crave_UI_Logo">
      </a>
      <div class="install">
        <a href="/index.html">
          <p>Getting Started</p>
        </a>
      </div>
      <div class="components-list">
        <ul>
          <li><a href="/components/alerts/alerts.html"><p>Alerts</p></a></li>
          <li><a href="/components/avatar/avatar.html"><p>Avatar</p></a></li>
          <li><a href="/components/badge/badge.html"><p>Badge</p></a></li>
          <li><a href="/components/button/button.html"><p>Button</p></a></li>
          <li><a href="/components/cards/cards.html"><p>Card</p></a></li>
          <li><a href="/components/list/list.html"><p>List</p></a></li>
          <li><a href="#"><p>Input</p></a></li>
          <li><a href="#"><p>Text Utilities</p></a></li>
          <li><a href="#"><p>List</p></a></li>
          <li><a href="#"><p>Navigation</p></a></li>
          <li><a href="#"><p>Modal</p></a></li>
          <li><a href="#"><p>Rating</p></a></li>
          <li><a href="#"><p>Toast</p></a></li>
          <li><a href="#"><p>Simplified Grid</p></a></li>
        </ul>
      </div>
    </div>
    <div class="main">
      <h1>ALERTS</h1>
      <div class="description">
        <p> Alert is a message/notification box that notifies the user about some information or asks for permission to perform a certain kind of operation.</p>
      </div>
      <div class="code">
        <img src="../../assets/alerts-code.png" alt="Alerts_code">
      </div>
      <div class="display-components box">
        <div class="alert primary-alert">Wow! This is a Primary alert</div>
        <div class="alert success-alert">Awesome! This is a Success alert</div>
        <div class="alert danger-alert">Error! This is a Danger alert</div>
        <div class="alert warning-alert">Wait! This is a Warning alert</div>
      </div>
    </div>
  </div>
</body>
</html>