:root{
    --primary: lightskyblue;
    --secondary:hotpink;
    --white: white;
    --red:red;
    --green: lightgreen;
    --black: black;
    --blue: lightblue;
    --grey: grey;
    --yellow: yellow;
    --darkblue: blue;
    --subtitle-text: #888888;
    --card-link: #4d79ff;
    --border-white: #ffffff;
    --orange: orange;
  }